<!DOCTYPE html>
<html>
  <head>
    <title>HospitalManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Login', new_doctor_session_path if !current_doctor %>
    <%= link_to 'Logout', destroy_doctor_session_path, method: 'delete' if current_doctor %>
    <%= yield %>
  </body>
</html>
