<!DOCTYPE html>
<html>
  <head>
    <title>Associate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Login ', new_enduser_session_path if !current_enduser %><br>
    <%= link_to 'Logout', destroy_enduser_session_path, method: 'delete' if current_enduser %><br>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
