<h4>Appointment List </h4>

<table>
	<tr>
		<th>Patient Name</th>
		<th>Appointment Time</th>
	</tr>
	<% @appointments.each do |app| %>
		<tr>
			<td>
				<%= app.patient.name %>
			</td>
			<td>
				<%= app.appoint_date.strftime("%d %b, %Y %H:%M %p") %>
			</td>
			<td>
			<%= link_to 'Edit', "/doctors/appointments/#{app.id}/edit" %>
			</td>
			<td>
			<%= link_to 'Delete', "/doctors/appointments/#{app.id}", method: :delete, data: {confirm: 'ARE YOU SURE??'}%>
			</td>
		</tr>	
	<% end %>
</table>

<%= link_to 'Add Appointment', new_doctors_appointment_path %>