<h1>Appointments <h1>

<%= form_for :appointment, url: doctors_appointments_path do |f| %>
	<p>
		<%= f.hidden_field :doctor_id , :value => current_doctor.id %>
	</p>
	<p>
		<%= f.label :Patient %>
		<%= select("appointment", "patient_id", Patient.all.collect {|p| [ p.name, p.id ] },{ include_blank: true }) %>
	</p>
	<p>
		<%= datetime_select("appointment","appoint_date")%>
	<p>
		<%= f.submit "save" %>
	</p>
<%end%>


	