<h1>Doctor details form</h1> 

<%= form_for :doctor, url: doctor_path do |f| %>

<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :age %><br>
<%= f.text_field :age %>
</p>
</p>
<%= f.label :contact %><br>
<%= f.text_field :contact %>
</p>
<%end%>
<p>
<%= f.submit "submit"%>
</p>
<p><%= link_to 'back', doctor_new_path %>
<%= link_to 'Doctors\' List', doctors_path%>
</p>