<%= form_for @patient do |f| %>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :age %><br>
<%= f.text_field :age %>
</p>
</p>
<%= f.label :contact %><br>
<%= f.text_field :contact %>
</p>
</p>
<%= f.label :address %><br>
<%= f.text_field :address %>
</p>
<p>
<%= f.submit "update"%>
</p>
<% end %>