<p>Patient Name:
<%= @patient.name %>
</p>
<p>age:
<%= @patient.age %>
</p>
<p>Address:
<%= @patient.address %>
</p>
<p><%= link_to 'back', patient_new_path %>
<%= link_to 'Patients\' List', patients_path%>
</p>