<h1> Post Your Article <h1>
<%= form_for :article, url: articles_path do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.submit "submit" %>
	</p>
<% end %>