<h6>Article</h6>
<%= form_for :article, url: articles_path do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
<% end %>