<h1>Your Article Details <h1>
<%= form_for :patient, url: doctors_patients_path do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.submit "submit" %>
	</p>
<% end %>