<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :email %>
	<%= f.text_field :email %>
</p>
<p>
	<%= f.label :Permanent_Address %>
	<%= f.text_field :Permanent_Address %>
</p>
<p>
	<%= f.submit "submit"%>
</p>
