<h4>Patients for a Logged in doctor</h4>

<table>
	<tr>
		<th>NAME</th>
		<th>AGE</th>
		<th>ADDRESS</th>
	</tr>
	<% @doctor.each do |p| %>
	<tr>
		<td>
			<%=p.name%>
		</td>
		<td>
			<%=p.age%>
		</td>
		<td>
			<%=p.address%>
		</td>
		<td>
			<%= link_to 'Edit', edit_doctors_doctor_path(@doctor)%>
		</td>
		<td>
			<%= link_to 'Delete', doctors_doctor_path(@doctor), method: :delete, data: {confirm: 'ARE YOU SURE??'}%>
		</td>
	</tr>
	<%end%>
</table>

